//variables css

$verde: #28d406;
$verde-claro: #a7fa00;
$rojo: #f33c1c;
$rojo-oscuro: #840000;
$lila: #694CF6;
$morado: #4F3DA8;

$font-family: Verdana;

$inicio: 22px;
$About: 18px;
$derechos: 12px;
